// COLORS
$color-orange: #F4791B;
$color-grey: #C4C4C4;
$color-black: #1A1A1A;


// TEXT-COLORS
$primary-text-color: $color-black;
$secondary-text-color: $color-grey;

// FONT-SIZES
$font-size-s: 12px;
$font-size-m: 14px;
$font-size-l: 16px;